* {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

#anime {
    background-image: url(../img/spaceone1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    border: thin solid black;

    position: relative;
    overflow: hidden;

}

body {

    color: aliceblue;
    font-family: 'Permanent Marker', cursive;
    background-color: black;
}

.exploring h1 {
    font-size: 45px;
    margin-left: 0.5em;
    margin-top: 3em;
}


.rock svg {
    position: relative;
    width: 10%;
    margin-left: 30em;
    animation: animate 0.2s ease infinite;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }
}

.circles svg { 
    position: absolute;
    width: 20%;
    z-index: 5000;
    margin-left: 420px;
    margin-top: -125px;
}


#red_elipse {
    animation: scale 1s ease-out infinite;
}

#big_blue {
    animation: scale 1.3s ease-in infinite;
}

#medium_yellow {
    animation: moveUpDown 0.5 ease-out infinite;

}

.circles {
animation: moveUpDown 1.5s linear infinite;
}

#medium_purple {
animation: scale02 1.5s ease-out infinite;
}

#small_yellow {
    animation: scale 1.5s ease-out infinite;
}

#big_green {
    animation: scale02 1.5s ease infinite;
}

#back_blue {
    animation: scale02 1.8s ease infinite;

}

@keyframes scale {
    0% {
       transform: scale(1.0);
    }

    
    100% {
        transform: scale(1.2);
    }
}

@keyframes scale02 {
    0% {
       transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-10px);
    }
     100%  {
        transform: translateY(-30px);
 
     }
 }



 .animation svg {
    position: absolute;
    width:5%;
    margin-top: -600px;
    margin-left: 40px;

}

#starTwo {
    margin-top: 429px;
    margin-left: 672px;
}
#starTwo svg {
    width: 10%;

}

#starThree {
    margin-top: 529px;
    margin-left: 272px;
}

#starFour {
    margin-top: -430px;
    margin-left: 455px;
}

#starFour svg {
    width:3% ;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards infinite;
    
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
